/*======================== PARA TODAS LAS PAGiNAS ==========================================================  */
/* Con esto creo una variable propia de color para todas mis paginas */
:root {
    --blanco: #ffffff;
    --primario: #FFC107;
    --secundario: #1565ab;
    --gris: #757575;
    --oscuro: #212121;
    
}

html {
    /* Para normalizar el valor rem y que nos sirva de referencia*/
    font-size: 62.5%; 
    /* box-sizing (tamaño de la caja)
        border-box (establece en un elemento, el relleno y el borde se incluyen en el ancho y el alto)*/
    box-sizing: border-box;
    /*  min-height (Establezca la altura mínima de un elemento) */
    min-height: 100%;
    /*  scrol-snap-type (acepta un segundo parámetro que determina si el viewport de nuestro contenido 
        se debe ajustar a los elementos de forma obligatoria o sólo si está muy próximo de sus bordes.)
         y mandatory (Al terminar de hacer scroll, el scroll se mueve automáticamente SIEMPRE al 
         punto de ajuste que se haya determinado. Cuando se cambia el tamaño de la ventana, 
         se cambia de orientación o se modifica el tamaño, SIEMPRE se moverá para satisfacer esto*/
    /* scroll-snap-type: y mandatory; */ 
}

/* con esto hago que todas las cajas (box-sizen) antes y despues tengan un espacio reservado para no pegar nada  */
*, *:before, *:after {
    box-sizing: inherit;
}
p {
    line-height: 2;
}
body {
    font-size: 16px; /* Con el size de html, y este, 1 rem = 10 px con relación dispositivo */
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    min-height: 100%;
    
}
h1 {
    font-size: 2rem;
    font-weight: 900;
}
h1 span {
    font-size: 1.2rem;
    font-weight: 300;
}
h1, h2, h3 {
    text-align: center;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    color: var(--secundario);
    font-weight: 400;
    font-size: 1.6rem;
}
/*=====================================================================  */

/* el contenendor lo utilizo para controlar el marten y el tamaño maximo */
.contenedor {
    margin: 0 auto;
    max-width: 1200px;
}
/* esta sombra la pongo para crear afecto sombra a la caja */ 
.sombra {
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
}
/*  ========================================= */
/* Color de fondo en barra de servicios en header "para todas las paginas" */ 
/* Color de la barra de nevagacion*/
.nav-bg {
    background-color: var(--secundario);
}
/* Ancho y distribucion barra de navegacion */
.navegacion {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width:768px) {
    .navegacion {
        flex-direction: row;
        justify-content: space-between;
    }
}
/* Color y formato del texto de navegacion */
.navegacion a{
    padding: 1rem 2rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
}

@media (min-width:768px) {
    .navegacion a{
        margin-bottom: 0;
    }
}

/* =============================================== /*
/* Clase para pagina de Index-Nosotros-Descargas*/
.servicios {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
@media (min-width:768px) {
    .servicios {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        column-gap: 1rem;
    }
}
.servicio {
    text-align:center;
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*============================================== */
/* Clase para pagina Marcas.html */ 
/* Afecta al contenido y al div */
.grid-container-Marcas > div {
    display: grid;
    grid-template-areas: auto auto    ;
    grid-gap: 10px;
    background-color: var(--secundario);
    padding: 10px;
  }
  /* Separacion entre cajas y color del texto*/
  div {
    margin-bottom: 1rem;
    width: 100%;
    color: var(--oscuro);
}
/* ============= */


/* formato del footer para todas las paginas*/
.footer {
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--oscuro);
   
}
