/*===========COOCKIES=========================*/
#overbox3 {
    position: fixed ;
    bottom: 50px;
    left: -100px;
    width: 50%;
    z-index: 999999;
    display: block;
}
#infobox3 {
    margin: auto;
    position: relative;
    top: 0px;
    height: 20%;
    width: 50%;
    text-align:center;
    background-color: #eeeeee;
}
#infobox3 p {
    line-height:30px;
    font-size:12px;
    text-align:center;
}
#infobox3 p a {
    margin-right: 1px;
    text-decoration: underline;
}






/*======================== PARA TODAS LAS PAGiNAS ==========================================================  */
/* Con esto creo una variable propia de color para todas mis paginas */
:root {
    --blanco: #ffffff;
    --primario: #FFC107;
    --secundario: #1565ab;
    --gris: #757575;
    --oscuro: #212121;
}

html {
    /* Para normalizar el valor rem y que nos sirva de referencia*/
    font-size: 62.5%; 
    /* box-sizing (tamaño de la caja)
        border-box (establece en un elemento, el relleno y el borde se incluyen en el ancho y el alto)*/
    box-sizing: border-box;
    /*  min-height (Establezca la altura mínima de un elemento) */
    min-height: 100%;
    /*  scrol-snap-type (acepta un segundo parámetro que determina si el viewport de nuestro contenido 
        se debe ajustar a los elementos de forma obligatoria o sólo si está muy próximo de sus bordes.)
         y mandatory (Al terminar de hacer scroll, el scroll se mueve automáticamente SIEMPRE al 
         punto de ajuste que se haya determinado. Cuando se cambia el tamaño de la ventana, 
         se cambia de orientación o se modifica el tamaño, SIEMPRE se moverá para satisfacer esto*/
    /* scroll-snap-type: y mandatory; */ 
}

/* con esto hago que todas las cajas (box-sizen) antes y despues tengan un espacio reservado para no pegar nada  */
*, *:before, *:after {
    box-sizing: inherit;
}
p {
    line-height: 2;
}
body {
    font-size: 16px; /* Con el size de html, y este, 1 rem = 10 px con relación dispositivo */
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    min-height: 100%;
    
}
h1 {
    font-size: 2rem;
    font-weight: 900;
}
h1 span {
    font-size: 1.2rem;
    font-weight: 300;
}
h1, h2, h3 {
    text-align: center;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    color: var(--secundario);
    font-weight: 400;
    font-size: 1.6rem;
}
/*=====================================================================  */

/* el contenendor lo utilizo para controlar el marten y el tamaño maximo */
.contenedor {
    margin: 0 auto;
    max-width: 1200px;
}
/* con este codigo, pongo efecto sombra a la caja/* */ 
.sombra {
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
}
/*  ========================================= */
/* Color de fondo en barra de servicios en header "para todas las paginas" */ 
/* Color de la barra de nevagacion*/
.nav-bg {
    background-color: var(--secundario);
}
/* Ancho y distribucion barra de navegacion */
.navegacion {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width:768px) {
    .navegacion {
        flex-direction: row;
        justify-content: space-between;
    }
}
/* Color y formato del texto de navegacion */
.navegacion a{
    padding: 1rem 2rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
}

@media (min-width:768px) {
    .navegacion a{
        margin-bottom: 0;
    }
}
/*  ======================================================== */ 
/* imagen utilizada como fondo de caja JGCommunicaciones "solo en index.html */
.hero {
    height: 450px;
    background-image: url(../img/Servidores.jpg);
    margin-bottom: 2rem;
    position: relative;
}
/* ========================================================= */
/* caracteristica de la caja de JGComunicaiones "solo en index.html */
.contenido-hero {
    background-color: rgb(0 0 0 / 70%); /* porcentaje de opacidad */
    background-color: rgba(0, 0, 0, .7); /* porcentaje de opacidad vectorial */
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* ============================================================= /*
/* caracteristica de la caja de JGComunicaiones "solo en index.html color del texto con variable */

/* Poner en color blanco el texto  */ 
.contenido-hero h2, .contenido-hero p {
    color: var(--blanco);
}

/* ======================================================= /*
/* Clase para pagina de Index-Nosotros-Descargas*/
.servicios {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
@media (min-width:768px) {
    .servicios {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        column-gap: 1rem;
    }
}
.servicio {
    text-align:center;
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*============================================ */

/* Formato de iconos Central-Red-Servicios  */
.iconos {
    display: flex;
    height: 150px;
    width: 150px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primario);
    border-radius: 50%;
}
/* Tamaño letras interiores de los iconos */
.iconos i {
    font-size: 2rem;
    color: var(--oscuro);
}

/* ===========================================  */

/* Formato del formulario */
/* color y forma del fondo */ 
.formulario {
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 10px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
/* Formato del texto del fondo */
.formulario legend {
    text-align: center;
    font-size: 1.2rem;
    color: var(--primario);
    margin-bottom: 2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

@media (min-width:768px) {
    .formulario {
        max-width: 800px;
        margin: 0 auto;
    }
}
/* Justificado de las casillas de datos  */
.contenedor-campos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Margen entre las casillas de datos */
.campo {
    margin-bottom: 1rem;
    width: 100%;
}

@media (min-width:480px) {
    .campo {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .campo{
        flex: 0 0 calc(50% - .5rem)
    }
}
/* Color texto del formulario ( Nombre,Correo, etc)  */
.campo label {
    color: var(--blanco);
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
}

@media (min-width:480px) {
    .campo label {
        flex: 0 0 90px;
    }
}
/* Formato del contenido de los campos que tienen que poner el cliente */
.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="mail"],
.campo textarea {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
}
@media (min-width: 768px) {
    :is(.campo) :is( 
        input[type="text"], 
        input[type="text"],  
        input[type="tel"],  
        input[type="mail"] , 
        textarea ) {
        flex: 1;
    }
}
/* Formato del corro y el mensaje  */
.w-100{
    flex: 0 0 100%;
}
/* Tamaño para la clase campo */
.campo textarea {
    height: 4rem;
}
/* Formato del boton de envio */
.enviar {
    display: flex;
    justify-content: flex-end;
}
/*  ============================================== */ 


/* formato del footer */
.footer {
    display: flex;
    text-align: center;
    justify-content: center;
}
/* =============================================== */
